<% if index == 0 %>
<div class="flask_card item active" >  
  <p class="cach_viet">
    <strong>
      <%= flask_card.cach_viet %>
    </strong>
  </p>
  <p class="cach_doc">
    <strong>
      <%= flask_card.cach_doc %>
    </strong>
  </p>
  <p class="Nghia">
    <strong>
      <%= flask_card.nghia %>
    </strong> 
  </p>
  <p>
    <%= link_to 'Destroy', [flask_card.set_card, flask_card],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
</div>

<% else %>

<div class="flask_card item" >
  <p>
    <strong>
      <%= flask_card.cach_viet %>
    </strong>
  </p>
  <p>
    <strong>
      <%= flask_card.cach_doc %>
    </strong>
  </p>
  <p>
    <strong>
      <%= flask_card.nghia %>
    </strong> 
  </p>
  <p>
    <%= link_to 'Destroy', [flask_card.set_card, flask_card],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
</div>
<% end %>