<% if t.id == 1 %>

<div value = "<%= t.correct_answer%>" class="testcard item active" >
    <div class="question"><%= t.question %></div>
    <div class="answer">
        <input type="button" value = "<%= t.answer_a%>" class="btn btn-info <% if t.answer_a == t.correct_answer %> correct <% end %>" >

        <input type="button" value = "<%= t.answer_b%>" class="btn btn-info <% if t.answer_b == t.correct_answer %> correct <% end %>">
         
        <input type="button" value = "<%= t.answer_c%>" class="btn btn-info <% if t.answer_c == t.correct_answer %> correct <% end %>" >
           
        <input type="button" value = "<%= t.answer_d%>" class="btn btn-info <% if t.answer_d == t.correct_answer %> correct <% end %>" >
        
    </div>
</div>

<% else %>

<div value = "<%= t.correct_answer%>" class="testcard item " >
    <div class="question"><%= t.question %></div>
    <div class="answer">
        <input type="button" value = "<%= t.answer_a%>" class="btn btn-info <% if t.answer_a == t.correct_answer %> correct <% end %>" >

        <input type="button" value = "<%= t.answer_b%>" class="btn btn-info <% if t.answer_b == t.correct_answer %> correct <% end %>">
         
        <input type="button" value = "<%= t.answer_c%>" class="btn btn-info <% if t.answer_c == t.correct_answer %> correct <% end %>" >
           
        <input type="button" value = "<%= t.answer_d%>" class="btn btn-info <% if t.answer_d == t.correct_answer %> correct <% end %>" >
        
    </div>
</div>

<% end %>

