<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to DHA</title>
    <%= csrf_meta_tags %>
     

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>
    
  </head>

  <body>
    <div><%= render 'layouts/header' %></div>
    <div class="container-fluid background">
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>
