<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to DHA</title>
    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/seasons-nature-1/100/Sakura-512.png" type="image/x-icon" />
    
    <%= csrf_meta_tags %>
     

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <div><%= render 'layouts/header' %></div>
    <div class="container-fluid background">
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
